@import url("https://fonts.googleapis.com/css?family=Sniglet&display=swap");



body {
    font-family: 'Arial';
}

textarea[type=text] {
    background-color: #cccac8;
    border-style: solid;
    border-width: 2px;
    height: 50px;
    min-width: 500px;
    max-width: 900px;
}

.header-box {
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    background-color: #282a38;
    box-shadow: 0 4px 8px 0 #282a38, 0 6px 20px 0 #282a38;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
}

.container-nav {
    position: relative;
    display: flex;
    flex-flow: row;
    background-color: #333;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 600px;
    max-width: 900px;
}

.container-nav .nav-item {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: inherit;
}

.container-nav .questionset-dropdown-content {
    display: none;
    position: absolute;
    left: 115px;
    top: 60px;
    background-color: whitesmoke;
    width: 180px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.container-nav #more-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: whitesmoke;
    width: 180px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.questionset-dropdown-option {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
}

.questionset-dropdown-option:hover {
    background-color: blue;
    color: white;
}

.container-nav .questionset-dropdown {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: inherit;
    cursor: pointer;
    display: flex;
    flex-flow: row;
    width: 250px;
    border: solid;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

#questionset-dropdown-name {
    color: inherit;
    background-color: inherit;
}

.container-nav .questionset-dropdown:hover {
    background-color: whitesmoke;
    color: #444;
}

.container-nav .nav-item {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: inherit;
    cursor: pointer;
    display: flex;
    flex-flow: row;
    border:solid;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
 
}

.container-nav .nav-item:last-of-type {
    margin-left: auto;
}

#q-span {
    color: grey;
    background-color: inherit;
}

.nav-item div {
    background-color: inherit;
}

.nav-item:hover {
    background-color: whitesmoke;
    color: #444;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    background: none;
    color: white;
    font-size: 40px;
}

.container {
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #333;
    min-width: 600px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-top {
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #333;
    min-width: 600px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.question-pool {
    display: flex;
    flex-flow: column;
    flex: 1;

    width: 100%;
    min-width: 250px;
    max-width: 350px;
    height: 500px;


    background-color: #232233;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    margin-top: 75px;
    padding: 8px;
    padding-bottom: 100px;
    transition: all 0.2s linear;
    overflow-y:scroll;

    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

.question-pool .question-item {
    margin: 10px 0px;
}

.question-slot {
    background-color: #eb8034;
    color: white;
    border-radius: 8px;
    padding: 15px 20px;
    margin: 4px 0px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    word-wrap: break-word;
    user-select:none;
}

.question-slot .question-slot-placeholder {
    background-color: inherit;
}

.question-slot .question-slot-placeholder .create-new-question-in-list {
    border: solid;
    border-radius: 8px;
    padding: 5px;
}

.question-slot .question-slot-placeholder .create-new-question-in-list:hover {
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
}


.question-item { /*A question in the pool of questions */
    position: relative;
    background-color: rgb(233, 145, 31);
    color: #f5f3f0;
    border-color: #cccac8;
    border-radius: 8px;
    padding: 15px 20px;
    margin: 4px 0px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    word-wrap: break-word;
}

.question-item:hover {
    color:black;
}

.question-item .question-item-options {
    background-color: inherit;
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
}

.question-list { /* Actual questions list */
    position: relative;

    display: flex;
    flex-flow: column;
    flex: 1;

    width: 100%;
    min-width: 250px;
    max-width: 350px;
    height: 100%;


    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #232233;
    margin: 20px;
    margin-top: 75px;
    padding: 8px;
    transition: all 0.2s linear;
    

}

/* Modal styles */
.modal {
    font-family: 'Arial';
    display: none;

    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal .delete-popup {
    position: relative;
    font-size: 20px;
    background-color: #333;
    color: #cccac8;
    margin: auto;
    padding: 20px;
    min-width: 400px;
    max-width: 500px;
    height: 20%;
    margin-top: 10%;
    text-align: center;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal .delete-popup .cancel-button {

}

.modal .delete-popup .confirm-button {

}



table, th, td {
    border: 1px solid black;
}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.gg-add {
    cursor: pointer;
}

.gg-add:active {
    color: red;
}

.gg-remove {
    cursor: pointer;
}

.gg-remove:active {
    color: red;
}

.gg-chevron-down {
    color: inherit;
    background-color: inherit;
    display: inline-block;
}

.gg-chevron-down:hover {
    color: inherit;
    background-color: inherit;
}

/*Form styles */
/* Question Form */

.form-input-question {
    position: relative;
    background-color: #333;
    color: #cccac8;
    margin: auto;
    width: 50%;
    height: 80%;
    padding: 20px;
    border: 1px solid #888;
    top: 10%;
    min-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.question-input-box {
    font-size: 16px;
    width: 90%;
}

.answer-input-box {
    font-size: 16px;
    width: 50%;
}

#form-short-answer {
    display: none;
}

.multiple-choice-number {
    display: flex;
    flex-flow: row;
}

#multiple-choice-option-2 {
    display: none;
}

#multiple-choice-option-3 {
    display: none;
}

#multiple-choice-option-4 {
    display: none;
}

#form-question-submit {
    display: none;
    font-size: 18px;
}

#form-question-edit {
    display: none;
}
#form-multiple-choice-answer {
    display: none;
}

.option-input {
    position: absolute;
    left: 200px;
    font-size: 16px;
}

/* Question set form */
#new-questionset-form {
    position: relative;
    font-size: 20px;
    color: #cccac8;
    background-color: #333;
    padding: 20px;
    border: 1px solid #888;
    height: 30%;
    width: 50%;
    top: 10%;
    margin: auto;
    min-width: 400px;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Buttons */
button[type=button] {
    font-size: 18px;
}

.cancel-button {
    font-size: 18px;
    margin-right: 5px;
}

.confirm-button {
    font-size: 18px;
    margin-left: 5px;
}

.confirm-button:hover {
    color:#000000;
    background-color:#FFFFFF;
}

#new-questionset-form form {
    height: 100%;
}

.button-group {
    position: absolute;
    display: flex;
    flex-flow: row;
    height: 30px;
    bottom: 10px;
    margin: auto;
}


#question-item-buttons {
    position: absolute;
    display: flex;
    flex-flow: row;
    background-color: inherit;
    justify-content: space-between;
    top:0;


    min-width: 500px;
    max-width: 500px;
}

#reset-button {
    position: relative;
    background-color: red;
    color: white;
    padding: auto;
    cursor: pointer;
    margin-top:10px;
    margin-bottom:10px;
    flex-grow: 1;
    border-width: 2px;
    height: 40px;
}

#reset-button:hover {
    background-color: #ff5c77;
}

#save-button {
    background-color: #52bf57;
    color: white;
    padding: auto;
    cursor: pointer;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 10px;
    flex-grow: 1;
    border-width: 2px;
    height: 40px;
}

#save-button:hover {
    background-color: #6bed71;
}

.map-container {
    padding-top: 10px;
    height: 250px;
}

.infoMarker {
    font-size: 15px;
    text-align: center;
    color: #f56161;

}

.form-labels {
    font-size: 16px;
}
