@import url("https://fonts.googleapis.com/css?family=Sniglet&display=swap");

* {
    font-family: 'Sniglet', cursive;
    background-color: white;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #ffe5b8;
    overflow: hidden;
    height: 40px;
}

.tab-right {
    background-color: rgba(0, 0, 0, 0.01);
    margin: 5px 20px;
    float: right;
}

#logo {
    background-color: rgba(0, 0, 0, 0.01);
    margin-left: 20px;
    float: left;
}

.headerButton {
    background-color: #bd3ffc;
    border: 1px solid #d383f7;
    color: white;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    font-size: 16px;

}

.headerButton:hover {
    background-color: #d383f7;
  }

textarea[type=text] {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    height: 50px;
    min-width: 500px;
    max-width: 900px;
}

.headerBox {
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    background-color: #282a38;
    box-shadow: 0 4px 8px 0 #282a38, 0 6px 20px 0 #282a38;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    background: none;
    color: white;
    font-size: 40x;
}

p {
    background: none;
    color: #8c8ea1;
}

body{
    font-family: 'Roboto', Helvetica, sans-serif;
    background-image: url("/static/css/images/background.jpg");
    height: 200px;
    background-size:cover;
}

.container {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #ffe5b8;
    min-width: 600px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.questionPool {
    display: flex;
    flex-flow: column;
    flex: 1;

    width: 100%;
    min-width: 250px;
    max-width: 350px;
    height: 100%;
    min-height: 350px;

    background-color: #bd3ffc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    padding: 8px;
    padding-bottom: 100px;
    transition: all 0.2s linear;
}

.question-slot {
    background-color: #eb8034;
    color: white;
    border-radius: 8px;
    padding: 15px 20px;
    margin: 4px 0px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    word-wrap: break-word;
    user-select:none;
}

.question-item { /*A question in the pool of questions */
    background-color: #eb8034;
    color: white;
    border-radius: 8px;
    padding: 15px 20px;
    margin: 4px 0px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    word-wrap: break-word;
}

.question-list { /* Actual questions list */
    display: flex;
    flex-flow: column;
    flex: 1;

    width: 100%;
    min-width: 250px;
    max-width: 350px;
    height: 100%;
    min-height: 150px;

    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #bd3ffc;
    margin: 20px;
    padding: 8px;
    transition: all 0.2s linear;
}

table, th, td {
    border: 1px solid black;
}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.inputContainer {
    margin: auto;
    min-width: 600px;
    max-width: 860px;
    background-color: #ebbfff;
    padding: 20px;
}

.inputLabel {
    background-color: #ebbfff;
    font-size: 20px;
}