/*Edit User Page */
div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
}

.table-title {
  color: #fafafa;
  font-size: 2em;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 3px solid rgb(255, 255, 255);
}

#edit-user-list {
  padding: 30px 40px 0px 50px;
}
#edit-user-list li {
  padding-bottom: 10px;
}

/*** Table Styles **/

.table-fill {
  background: white;
  border-radius: 10px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 100%;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: #d5dde5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #c1c3d1;
  border-bottom: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: #4e5066;
  color: #ffffff;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #ebebeb;
}

tr:nth-child(odd):hover td {
  background: #4e5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #ffffff;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.gg-close {
  color: #e62e2e;
  cursor: pointer;
}

.modal {
  font-family: "Arial";
  display: none;
  color: #333027;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal .delete-popup {
  position: relative;
  font-size: 20px;
  color: black;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 200px;
  height: 200px;
  margin-top: 10%;
  text-align: center;
}

.cancel-button {
  font-size: 18px;
  margin-right: 5px;
}

.confirm-button {
  font-size: 18px;
  margin-left: 5px;
}

.button-group {
  position: absolute;
  display: flex;
  flex-flow: row;
  height: 30px;
  bottom: 10px;
  left: 50px;
}

.gg-chevron-double-up {
  color: green;
  cursor: pointer;
}

.gg-chevron-double-down {
  color: red;
  cursor: pointer;
}
