@import url("https://fonts.googleapis.com/css?family=Sniglet:300,300italic,400,400italic");

/* General Styling*/
* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
    border: 0;
	font-size: 100%;
    font-family: 'Sniglet', sans-serif;
    text-decoration: none;
  }
  
/* Style the body
Set the background image*/

body {
    background-color: cadetblue;
    /* text-align: center; */
}

/*-----------------------------------------------------*/

/* Create the Navigation Bar */

/* This is a container for the navbar */
.nav_area {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 72px;
    display: block;
    /* background-color:#14485f; */
}

/* This defines the actual size of the navbar */
.inner_nav{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

/* This is the logo container */
.logo_container {
    height: 50px;
    display: table;
    float: left;
}

/* This is the Logo styling  */
.logo_container h1 {
    color: whitesmoke;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    
    font-size: 32px;
    font-weight: 200;
}


.logo_container h1 span {
    font-weight: 800;
}

/* Right navigation bar link such as HOME, HTML, CSS, JAVASCRIPT and ABOUT */

.nav {
    float: right;
    height: 100%;

}

.nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    color: whitesmoke;
    background-color: cadetblue;
    
}

.nav a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    
}

/* Navigation Hover and active colours */
.nav a:hover {
    background-color: #fff;
    color: #1abc9c;
    transition: 0.5s ease;
  }

/*-----------------------------------------------------*/

/*-----------------------------------------------------*/
/* This contains the entire body */
/* Column container */
.body_container {
    padding: 50px 0;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
  
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */

.side {
    justify-content: left;
    flex-direction: column;
    flex: 15%;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 25px 0 0 25px;
    max-height: 720px;
    overflow-y: scroll;
}

.side > div.buttons {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

button:focus {outline:0;}

.myBtn {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;

    text-decoration: none;

    border-radius: 25px;
}

.myBtn.unclicked:hover {
    color: whitesmoke;
    background-color:  rgb(68, 114, 116);
}

.myBtn.unclicked {
    background-color: #aaa;
    color: whitesmoke;
}

.myBtn.clicked {
    background-color: rgb(95, 158, 160);
    color: whitesmoke;
}

.myBtn.clicked:hover {
    background-color: rgb(95, 158, 160, 0.5);
    color: whitesmoke;
}


/*-----------------------------------------------------*/

  /* Main column */
  .main {
    background-color: white;
    flex: 85%;
    padding: 20px;
    border-radius: 0 25px 25px 0;
    display: none;
  }
  
  /* Defining all the different types of tags here */
  .main  h1 {
      color: #1abc9c;
      font-size: 35px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 10px;
  }

  .main h2 {
    font-weight: 300;
    display: none;
    font-size: 20px;
    text-align: center;
    padding: 0px 10px;
  }

  .main  p {
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.infoMarker {
    font-size: 15px;
    text-align: center;
    color: #f56161;

}

/*-----------------------------------------------------*/
.input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.inputAns {
    padding: 10px;
    text-align: center;
    border: solid 2px #1aa4bc;
    font-size: 20px;
}

.submitQ:hover {
    /* background-color: cadetblue; */
    filter: brightness(80%);
    color: whitesmoke;
}


.submitQ {
    margin:0px 20px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 30px;
    background-color: #1abc9c;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
}

.map_container {
    display: none;
    margin: 0;
    width: 100%;
    height: 400px;
    text-align: center;
}

.googleMap {
    height: 100%;
    width: 60%;
    margin: auto;
    border-radius: 15px;
}


/*-----------------------------------------------------*/

/* Custom radio button for MCQ questions */
/* Using example from W3Schools */

.mcqContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}

.mcqContainer label:nth-last-child(2) {
    padding-bottom: 20px;
}

.radioContainer {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radioContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radioContainer input:checked ~ .checkmark {
    background-color: #1aa4bc;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radioContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radioContainer .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  /*-----------------------------------------------------*/
