<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        
    </script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin_page.css')}}" />
    <title>Admin Page</title>
</head>

    <body>
        <div class="header">
            <a href="#"><img id="logo" src="{{url_for('static',filename='css/images/mapify-2.png')}}" style="width:100px"></a>
            <nav class="tab-right">
                <button id="header-signup-button" class="headerButton">Sign Up</button>
                <button id="header-login-button" class="headerButton">Log In</button>
            </nav>
        </div>

    <div class="headerBox">
        <h1>Edit Questions</h1>
        <p>This is a place where you can edit questions! Simply drag and drop to the desired question number and save changes!</p>
    </div>

    <div class="container" id="container">
        <div class="questionPool">
            {% for question in questionPool %}
                <div class="question-item" draggable="true">{{ question.id }}<br>{{ question }}<br>{{ question.answer }}</div>
            {% endfor %}
        </div>
        <div class="question-list">
            {% for question in currentQuestion %}
                <div class="question-slot" id="Q{{ question.number }}">Q{{ question.number }}
                {% if question.id != '' %}
                    <div class="question-item" draggable="true">{{ question.id }}<br>{{ question }}<br>{{ question.answer }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="button" id="saveButton">Submit</button>
        </div>

    </div>



    <div class="inputContainer">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <!-- This is where the Question will go-->
            {{ form.question.label }} <br>
            {{ form.question(class="inputLabel")}}
            <br>
            <br>
            <!-- This is where the Answer will go-->
            {{ form.answer.label }} <br>
            {{ form.answer(class="inputLabel")}}
            <!-- This is where the Difficulty will go-->
            <!-- {% for subfield in form.difficulty %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td><br>
                </tr>
            {% endfor %} -->
            <br>
            <p> {{ form.submit(class="inputLabel") }}</p>
        </form>
    </div>


    <script src="{{ url_for('static', filename='admin_page.js') }}"></script>

    </body>

</html>