<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin_page.css')}}" />
    <link href="https://css.gg/css?=|add|remove" rel="stylesheet">
    <title>Admin Page</title>
</head>

    <body>
        <div class="header">
            <a href="#"><img id="logo" src="{{url_for('static',filename='css/images/mapify-2.png')}}" style="width:100px"></a>
            <nav class="tab-right">
                <button id="header-signup-button" class="header-button">Sign Up</button>
                <button id="header-login-button" class="header-button">Log In</button>
            </nav>
        </div>

    <div class="header-box">
        <h1>Edit Questions</h1>
        <p>This is a place where you can edit questions! Simply drag and drop to the desired question number and save changes!</p>
    </div>

    <div class="container-nav">
        
        <div class="questionset">Question Set: </div>
        <a href="#" class="questionset-dropdown" id="questionset-name" onclick="dropdown()">[NAME OF SET]</a>
        <div class="questionset-dropdown-content"id= "dropdown" >
            <a href='#'>[Question Set]</a>
            <a href='#'>[Question Set]</a>
            <a href='#'>[Question Set]</a>
        </div>
    </div>

    <div class="container" id="container">
       
        <div class="question-pool">
            {% for question in questionPool %}
                <div class="question-item" draggable="true">{{ question.id }}<br>{{ question }}<br>{{ question.answer }}</div>
            {% endfor %}
        </div>
        <div class="question-list">
            {% for question in currentQuestion %}
                <div class="question-slot" id="Q{{ question.number }}">Q{{ question.number }}
                {% if question.id != '' %}
                    <div class="question-item" draggable="true">{{ question.id }}<br>{{ question }}<br>{{ question.answer }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="button" id="save-button">Save Changes</button>
        </div>

    </div>



    <div class="form-input">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <!-- This is where the Question will go-->
            {{ form.question.label }} <br>
            {{ form.question(rows="4", cols="50", class="form-input-box")}}
            <br>
            <br>
            <!-- This is where the question type will go-->
            {% for subfield in form.questionType %}
                <tr>
                    <td >{{ subfield(class="questionType",onclick="showAnswerField()") }}</td>
                    <td>{{ subfield.label }}</td><br>
                </tr>
            {% endfor %}
            <br>
            <!-- This is where the Answer will go-->
            <div id="form-short-answer">
                {{ form.answer.label }} <br>
                {{ form.answer(class="form-input-box")}}
            </div>

            <div id="form-multiple-choice-answer">
                Choices
                <div class="multiple-choice-number">
                    <i class="gg-remove" onclick="deductNum()"></i>
                    <pre>     </pre><pre id="multiple-choice-num">2</pre><pre>     </pre> 
                    <i class="gg-add" onclick="addNum()"></i>
                </div>
            
                <br>
                <div id="multiple-choice-option-list">
                    <div class= "multiple-choice-option" id="multiple-choice-correct-option">Correct Option<input type="text" class="option-input"></div><br>
                    <div class= "multiple-choice-option">Possible Option<input type="text" class="option-input"></div>
                </div>
            </div>
        
            <br>
            <p> {{ form.submit(class="form-input-label") }}</p>
        </form>
    </div>


    <script src="{{ url_for('static', filename='admin_page.js') }}"></script>

    {% for i in range(15) %}
        <br>
    {% endfor %}



    </body>

</html>