<!DOCTYPE html>
<html lang="en-US">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        var authenticated = '{{ current_user.is_authenticated }}'
    </script>
    <link rel="shortcut icon" type="image/png" href="../static/css/images/mapify-icon.png">
    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css"
        href="{{url_for('static',filename='css/mystyle.css')}}">
        <link href="https://css.gg/css?=|add|remove|chevron-down|math-plus|close|chevron-double-up|chevron-double-down" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="header">
        <a href="/"><img id="logo" src="../static/css/images/mapify-2.png"></a>
        {% if current_user.is_authenticated and current_user.user_type == 'regular' %}
            <div class="welcomeUser" id='welcome-user'>Welcome {{ current_user.username }}!</div>
            <nav class="tab-right">
                <div class="points" id="points">
                    <p>Points : <b>0</b></p>
                </div>
                <a href='logout'><button id="header-logout-button" class="tablinks">Log Out</button></a>
            </nav>
        {% elif current_user.is_authenticated and current_user.user_type == 'admin' %}
            <div class="welcomeUser" id='welcome-user'>Welcome {{ current_user.username }}!</div>
            <nav class="tab-right">
                <div class="points" id="points">
                    <p>Points : <b>0</b></p>
                </div>
                <a href='user-list'><button id="header-user-button" class="tablinks">Edit Users</button></a>
                <a href='admin'><button id="header-admin-button" class="tablinks">Edit Sets</button></a>
                <a href='logout'><button id="header-logout-button" class="tablinks">Log Out</button></a>
            </nav>
        {% elif current_user.is_authenticated and current_user.user_type == 'temp' %}
            <div class="welcomeUser" id='welcome-user'>Welcome {{ current_user.username }}!</div>
            <nav class="tab-right">
                <div class="points" id="points">
                    <p>Points : <b>0</b></p>
                </div>
                <a href='register'><button id="header-signup-button" class="tablinks">Sign Up</button></a>
                <a href='logout'><button id="header-logout-button" class="tablinks">Log Out</button></a>
            </nav>
        {% else %}
        <nav class="tab-right">
            <div class="points" id="points">
                <p>Points : <b>0</b></p>
            </div>
            <a href='register'><button id="header-signup-button" class="tablinks">Sign Up</button></a>
            <a href='login'><button id="header-login-button" class="tablinks">Log In</button></a>
        </nav>
        {% endif %}
    </div>

    <script>
        document.getElementById('points').style.display = 'none';
    </script>


 
    <!-- Modal Section -->

    {% block body %}{% endblock %}

    <footer>
        <p>This website is made by Ahbar, Danish and Syukri, for the purpose of CITS3403 group assignment. &nbsp;<a
                href="https://github.com/msyukri-zaidin/CITS3403-Project-1" target="_blank">Click here</a> &nbsp;for
            more details.</p>
    </footer>
</body>



</html>