<!DOCTYPE html>
<html lang="en-US">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="../static/css/images/mapify-icon.png">
    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css"
        href="{{url_for('static',filename='css/mystyle.css')}}">
    <link href="https://css.gg/css?=|add|remove|chevron-down|math-plus|close|chevron-double-up|chevron-double-down"
        rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="header">
        <a href="/"><img id="logo" src="../static/css/images/mapify-2.png"></a>
        {% if current_user.is_authenticated and current_user.user_type == 'regular' %}
        <nav class="tab-right">
            <a href='logout'><button id="header-logout-button" class="tablinks">Log Out</button></a>
        </nav>
        {% elif current_user.is_authenticated and current_user.user_type == 'admin' %}
        <nav class="tab-right">
            <a href='logout'><button id="header-logout-button" class="tablinks">Log Out</button></a>
        </nav>
        {% else %}
        <nav class="tab-right">
            <a href='register'><button id="header-signup-button" class="tablinks">Sign Up</button></a>
            <a href='login'><button id="header-login-button" class="tablinks">Log In</button></a>
        </nav>
        {% endif %}
    </div>


    <!-- Modal Section -->

    {% block body %}{% endblock %}
    <!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->
    <!-- Syukri's example -->

    <!-- <h1>Temporary home page</h1>
    <h2>Available question sets</h2>
    {% for set in questionSet %}
    <a href='quiz?questionsetID={{ set.id }}'>{{ set }}</a><br><br>
    {% endfor %}
    <a href='admin'>Admin page</a> -->

    <!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->

    <footer>
        <p>This website is made by Ahbar, Danish and Syukri, for the purpose of CITS3403 group assignment. &nbsp;<a
                href="https://github.com/msyukri-zaidin/CITS3403-Project-1" target="_blank">Click here</a> &nbsp;for
            more details.</p>
    </footer>
</body>

<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
    crossorigin="anonymous"></script>
<script src="../static/home.js"></script>

</html>