<!DOCTYPE html>
<html>

<head>
    <title>Home | Mapify</title>
    <link rel="shortcut icon" type="image/png" href="./photos/mapify-icon.png">
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>
    <div class="header">
        <a href="#"><img id="logo" src="./photos/mapify-2.png"></a>
        <nav class="tab-right">
            <!-- <button id="header-signup-button" class="tablinks">Sign Up</button>
            <button id="header-login-button" class="tablinks">Log In</button> -->
            
        </nav>
    </div>

    <!-- Modal Section -->
    <div class="login-modal">
        <div class="modal-contents">
            <div id="exitLogInModal">+</div>
            <h2>Log In</h2>
            <form>
                <input id="login-username" type="username" placeholder="Name">
                <input id="login-password" type="password" placeholder="E-Mail">
            </form>
            <button id="login-button" class="clicky-button">Submit</button>
        </div>
    </div>
    <!-- Modal Section -->

    <div class="container">
        <!-- Part where explains what Mapify is, the intro -->
        <div id="home-intro" class="flex-display home-box">
            <span id="text">
                <p>Welcome to</p>
                <h2 id="mapify-slogan" class="">Mapify</h2>
                <p>Mapify is a geography quiz that will test your ability of mapping a location based on the snapshot
                    given as the clue.
                </p>
            </span>
            <!-- <img src="./photos/worldMapSample.jpg"> -->
        </div>
        <!-- here we are going to put a JS code, where user can put in their username in -->
        <div id="home-username" class="flex-display home-box">
            <h2 class="box-title">Choose a username:</h2>
            <form>
                <input type="text" id="username-input" value="" placeholder="eg: Tim Winton" />
            </form>
            <span id="username-list" class="flex-display">
                <p style="font-size: 1.2em;">Suggestions: &nbsp; &nbsp;</p>
            </span>
        </div>
        <div class="home-box">
            <!-- Select game set or difficulty -->
            <h2 class="box-title">Select a game set</h2>
            <!-- The sure can select a game set using either:
                        - a dropdown menu
                        - list of famous ones, and can press a button that will load more game sets -->
            <section id="game-sets" class="flex-display">
                <span class="mini-card hoverable">
                    <img>
                    <h3 id="random-game-set" class="card-title">Random</h3>
                </span>
                <span class="mini-card hoverable">
                    <img>
                    <h3 class="card-title">Perth</h3>
                </span>
            </section>
            <div id="load-more">
                <button>Load More</button>
            </div>
        </div>
        <!-- <div id="difficulty-setting" class="flex-display home-box">
            <span>
                <h2>Choose your diffulty:</h2>
            </span>
            <span>
                <button id="beginner-button" class="clicky-button">
                    <h3>Beginner</h3>
                </button>
            </span>
            <span>
                <button id="medium-button" class="clicky-button">
                    <h3>Medium</h3>
                </button>
            </span>
            <span>
                <button id="expert-button" class="clicky-button">
                    <h3>Expert</h3>
                </button></span>
        </div> -->
        <div class="home-box">
            <div id="home-start" class="flex-display">
                <h2>Click here to start a game:</h2>
                <button id="start-button" class="clicky-button">Enter Game!</button>
            </div>
            <div id="rules" class="">
                <span>
                    <h2 class="box-title">How to play?</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                        <li>Aliquam tincidunt mauris eu risus.</li>
                        <li>Vestibulum auctor dapibus neque. .</li>
                        <li>Praesent placerat risus quis eros. </li>
                        <li>Donec quis dui at dolor tempor interdum. </li>
                    </ul>
                </span>
            </div>
        </div>
        <div id="leaderboard-home" class="flex-display home-box">
            <h2 class="box-title">Leaderboard</h2>
            <span class='leaderboard-row'>
                <div class="name">Player1</div>
                <div class="score">430</div>
            </span>
            <span class='leaderboard-row'>
                <div class="name">Player2</div>
                <div class="score">360</div>
            </span>
            <span class='leaderboard-row'>
                <div class="name">Player5</div>
                <div class="score">290</div>
            </span>
            <span class='leaderboard-row'>
                <div class="name">Player9</div>
                <div class="score">230</div>
            </span>
        </div>
    </div>
    <footer>
        <p>This website is made by Ahbar, Danish and Syukri, for the purpose of CITS3403 group assignment. &nbsp;<a
                href="https://github.com/msyukri-zaidin/CITS3403-Project-1" target="_blank">Click here</a> &nbsp;for
            more details.</p>
    </footer>
</body>

<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
    crossorigin="anonymous"></script>
<script src="home.js"></script>

</html>
