{% extends 'base.html' %}

{% block head %}
<title>Log in | Mapify</title>
{% endblock %}
{% block body %}
<div class="container">
    <div class="home-box flex-display" style="margin-top: 5%;">
        <img id="form-image" src="../static/css/images/pointingToMap.jpg">
        <div class="form-container">
            <h2 class="box-title">Login</h2>
            <form method="POST">
                {{form.hidden_tag()}}
                <!-- The login form Username Area -->
                {{form.username(class="form-input", size=16, placeholder="Username",id='username-field')}}
                <br>
                <!-- The login form Password Area -->
                {{form.password(id='password-field',class="form-input",size=16, placeholder="Password")}}
                <p class="form-subtext">Don't have an account?<a href="register"> Sign up!</a></p>
                <!-- The login form submit button -->
                {{form.submit(id='submit-field',class="form-submit clicky-button")}}
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p id='form-error'>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</div>
{% endblock %}