{% extends 'base.html' %}

{% block head %}

    <title>Quiz | Mapify</title>
    <!-- <link rel="stylesheet" href="https://egkoppel.github.io/product-sans/google-fonts.css"> -->

    <!-- Page Logo -->
    <link rel="icon" type="image/png" href="{{url_for('static',filename='css/images/mapify-icon.png')}}" >

    <!-- Link the css sytlesheet -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/quiz.css')}}">

    <!-- Link the script files for java script and for the google api-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvnjoJLy00CxiGcW7HCovKHPQSvnuFMOo"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script async type="text/javascript" src="{{ url_for('static', filename='quiz.js') }}"></script>
    <script async type="text/javascript" src="{{ url_for('static', filename='timer.js') }}"></script>

    

{% endblock %}

{% block body %}
    
    <!-- Navigation Bar -->
    <!-- <div class="nav_area">
        <div class="inner_nav">
            <div class="logo_container">
                <a href="/"><img src="{{url_for('static',filename='css/images/mapify-2.png')}}" alt="mapify_logo" height="70"></a>
            </div>

                <ul class="nav">
                    <a href="#"><li>Login</li></a>
                    <a href="#"><li>Sign up</li></a>

                </ul>
        </div>
    </div> -->
    <!-- Body of the webpage -->
    <!-- <div id="points" class="points">
        <p>Points : <b>0</b></p>
    </div> -->
    
    <div id="quiz" class="body_container">
        <!-- This part of the webpage is rendered by a quiz.js file -->
        <div id="timer"></div>
        
        <div class="side">
            <div class="buttons">
                <!-- Generates the side buttons for the coresponding questions -->
                {% for questionNum in range(1, (questions|length)+1) %}
                <button class="myBtn unclicked" id="Q{{ questionNum }}Button">Q{{ questionNum }}</button><br><br>
                {% endfor %}
            </div>
        </div>
        
        <!-- Generates the divs for the questions -->
        {% for questionNum in range(questions|length) %}
            <div id="Q{{ questionNum+1 }}" class="main">
                <h1>Question {{ questionNum+1 }}</h1>
                <p>
                    {{questions[questionNum].question}}
                </p>

                <!-- Check the type of question and render the webpage accordingly -->
                {% if questions[questionNum].qType == 'short' %}
                <div id="mapCon{{ questionNum+1 }}" class="map_container">
                    <div id="map{{ questionNum+1 }}" class="googleMap"></div>
                </div>

                <div id="ans{{ questionNum+1 }}" class="input_container">

                    <input class="inputAns" type="text">
                    <!-- button used to validate answer and generate the map of the location if incorrect -->
                    <button
                        class="submitQ"
                        type="button" 
                        onclick="validateAns('{{ questionNum+1 }}');">
                        Enter
                    </button>
    
                </div>

                {% elif questions[questionNum].qType == 'multiple' %}
                <div id="mcq{{ questionNum+1 }}" class="mcqContainer">
                    {% for option in questions[questionNum].answerOptions %}
                    <label class="radioContainer">
                        <input type="radio" name="Q{{ questionNum+1 }}" value="{{option}}">
                        <span class="checkmark"></span>
                        {{option}}
                    </label>


                    {% endfor %}
                    <button
                        class="submitQ"
                        type="button" 
                        onclick="validateMCQ('{{ questionNum+1 }}')">
                        Enter
                    </button>
                </div>

                {% endif %}
                <!-- This is hidden right now but will contain information of how many times a button is clicked
                    The answer to the question
                    Verification message if they got the question right or wrong -->
                <h2 id='attempts{{ questionNum+1 }}'>0</h2>
                <h2 id="totalTime">{{ timer }}</h2>
                <h2 id="answer{{ questionNum+1 }}">{{ questions[questionNum].answer }}</h2>
                <h2 id="reference{{ questionNum+1 }}">{{ questions[questionNum].reference }}</h2>

                <h2 id="msg{{ questionNum+1 }}"></h2>

                <div id="nextPrevious{{ questionNum+1 }}" class="test">
                    <div class="nextPrevious_container">
                        {% if questionNum == 0 %}
                            <button
                                class="submitQ"
                                type="button"
                                onclick="showNextQ('{{ questionNum+1 }}')"
                            >
                                Next →
                            </button>

                        {% elif questionNum == questions|length -1 %}

                            <button
                            class="submitQ"
                            type="button"
                            onclick="showPreviousQ('{{ questionNum+1 }}')"
                            >
                                ← Previous
                            </button>
                            <button
                                onclick="submitQuiz()"
                                class="submitQ"
                                type="button" 
                            >
                                Finish
                            </button>
                        
                        {% else %}

                            <button
                                
                                class="submitQ"
                                type="button"
                                onclick="showPreviousQ('{{ questionNum+1 }}')"
                            >
                                ← Previous
                            </button>

                            <button
                                class="submitQ"
                                type="button"
                                onclick="showNextQ('{{ questionNum+1 }}')"
                            >
                                Next →
                            </button>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
        <p>{{count}}</p>

    </div>

    <script>
        $(document).ready(function(){
            $('button.myBtn').click(function() {
                $('button.myBtn').removeClass('clicked');
                $('button.myBtn').addClass('unclicked');
                $(this).removeClass('unclicked')
                $(this).addClass("clicked");
                
                let showDiv = (this.id).replace('Button', '');
                
                $('div.main').hide();
                $('#'+ showDiv).show();

            });
        });
        
        $(function(){
            $('#Q1Button').click();
        });

    </script>
{% endblock %}


