<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Simple Google Map</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://egkoppel.github.io/product-sans/google-fonts.css"> -->

        <!-- Page Logo -->
        <link rel="icon" type="image/png" href="../../photos/mapify-icon.png" >

        <!-- Link the css sytlesheet -->
        <link rel="stylesheet" href="../static/css/quiz.css">

        <!-- Link the script files for java script and for the google api-->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvnjoJLy00CxiGcW7HCovKHPQSvnuFMOo"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>

    <body>


        <!-- Navigation Bar -->
        <div class="nav_area">
            <div class="inner_nav">
                <div class="logo_container">
                    <img src="../static/css/images/mapify-2.png" alt="mapify_logo" height="70">
                </div>

                    <ul class="nav">
                        <!-- Top right navigation buttons -->
                        <a href="#"><li>Login</li></a>
                        <a href="#"><li>Sign up</li></a>

                    </ul>
            </div>
        </div>

        <!-- Body of the webpage -->
        <div id="quiz" class="body_container">

        </div>

        <script type="text/javascript" src="../static/quiz.js"></script>

        <script>
            $(document).ready(function(){
                $('button.myBtn').click(function() {
                    $('button.myBtn').removeClass('clicked');
                    $('button.myBtn').addClass('unclicked');
                    $(this).removeClass('unclicked')
                    $(this).addClass("clicked");
                    
                    let showDiv = (this.id).replace('Button', '');
                    
                    $('div.main').hide();
                    $('#'+ showDiv).show();

                });
            });
            
            $(function(){
                $('#Q1Button').click();
            });

        </script>

    </body>
  
</html>


