{% extends 'base.html' %}

{% block head %}
<head>
<title>Home | Mapify</title>
</head>
{% endblock %}
{% block body %}

<div class="form-container">
    <form method="POST">
        {{form.hidden_tag()}}
        <!-- The login form Username Area -->
        {{form.username.label}}<br>
        {% if current_user.is_authenticated %}
            {{form.username(size=16, value=current_user.username, id='username-field')}}
        {% else %}
            {{form.username(size=16, id='username-field')}}
        {% endif %}
        <br>
        <!-- The login form Password Area -->
        {{form.password.label}}<br>
        {{form.password(size=16, id='password-field')}}

        <!-- The login form submit button -->
        {{form.submit(id='submit-field')}}
        <!-- <input id="login-username" type="username" placeholder="Name">
        <input id="login-password" type="password" placeholder="E-Mail"> -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </form>
</div>
{% endblock %}