{% extends 'base.html' %}

{% block head %}
<title>Home | Mapify</title>
{% endblock %}
{% block body %}

<div class="form-container">
    <form method="POST">
        {{form.hidden_tag()}}
        <!-- The login form Username Area -->
        {{form.username.label}}<br>
        {{form.username(size=16)}}
        <br>
        <!-- The login form Password Area -->
        {{form.password.label}}<br>
        {{form.password(size=16)}}

        <!-- The login form submit button -->
        {{form.submit()}}
        <!-- <input id="login-username" type="username" placeholder="Name">
        <input id="login-password" type="password" placeholder="E-Mail"> -->
    </form>
</div>
{% endblock %}